:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --primary-color: rgb(29, 173, 254);
    --hover-primary-color: rgba(29, 173, 254, 0.8);
    --border-color: #dbdbdb;

    --header-height: 100px;
    --header-navbar-height: 30px;
    --header-with-search-height: calc(var(--header-height) - var(--header-navbar-height));
    --header-sort-bar-height: 46px;
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
        opacity: 0;
    }

    to {
        transform: scale(var(--growth-to));
        opacity: 1;
    }
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: flex;
    animation: fadeIn linear 0.2s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

/* .modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    margin: auto;
    position: relative;
    z-index: 1;
    animation: growth linear 0.1s;
} */

/* Button style */
.btn {
    min-width: 36px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    font-size: 1.6rem;
    padding: 0;
    outline: none;
    cursor: pointer;
    color: var(--text-color);
    background-color: var(--white-color);
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn.btn--normal {
    border: 1px solid var(--border-color);
}

.btn.btn--normal:hover {
    background-color: #fafafa;
}

.btn.active,
.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn-large {
    width: 250px;
    height: 48px;
}

.btn.disabled {
    cursor: default;
    opacity: 0.5;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 160px;
    height: 36px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__icon {
    font-size: 1.4rem;
    color: #838383;
}

.select-input__list {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100% - 9px);
    border-radius: 2px;
    background-color: var(--white-color);
    padding: 8px 16px;
    list-style: none;
    display: none;
    z-index: 1;
}

.select-input__link {
    font-size: 1.4rem;
    color: var(--text-color);
    text-decoration: none;
    display: block;
    padding: 4px 0;
}

.select-input__link:hover {
    color: var(--primary-color);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Pagination */
.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.pagination-item {
    margin: 0 8px;
}

.pagination-item__link:hover {
    color: var(--primary-color);
}

.active .pagination-item__link {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.disabled .pagination-item__link {
    cursor: default;
    color: #939393;
    opacity: 0.5;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    text-decoration: none;
    font-size: 2rem;
    color: #939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
    text-align: center;
}